<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-container">
    <div class="form-row">
      <div class="form-cell form-header p-bottom">
        <h2>Sign up</h2>
      </div>
    </div>

    <div class="form-row">
      <div class="form-cell p-top">
        <%= f.label :email %>
      </div>
      <div class="form-cell">
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-cell p-top">
        <%= f.label :password %>
        <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
      <div class="form-cell p-top">
        <%= f.password_field :password, autocomplete: 'off' %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-cell p-bottom">
        <%= f.label :password_confirmation %>
      </div>
      <div class="form-cell p-bottom">
        <%= f.password_field :password_confirmation, autocomplete: 'off' %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-cell">
        <label for="user_first_name">First Name</label>
      </div>
      <div class="form-cell">
        <%= text_field 'user', 'first_name' %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-cell">
        <label for="user_middle_name">Middle Name</label>
      </div>
      <div class="form-cell">
        <%= text_field 'user', 'middle_name' %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-cell p-bottom">
        <label for="user_last_name">Last Name</label>
      </div>
      <div class="form-cell p-bottom">
        <%= text_field 'user', 'last_name' %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-cell">
        <label for="user_index">Index</label>
      </div>
      <div class="form-cell">
        <%= text_field 'user', 'index' %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-cell">
        <label for="user_country">Country</label>
      </div>
      <div class="form-cell">
        <%= text_field 'user', 'country' %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-cell">
        <label for="user_city">City</label>
      </div>
      <div class="form-cell">
        <%= text_field 'user', 'city' %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-cell">
        <label for="user_address">Address</label>
      </div>
      <div class="form-cell">
        <%= text_field 'user', 'address' %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-cell">
        <label for="user_phone">Phone</label>
      </div>
      <div class="form-cell p-bottom">
        <%= text_field 'user', 'phone' %>
      </div>
    </div>
  </div>

  <div class="form-submit">
    <div class="p-top"></div>
    <div class="submit-cell p-top">
      <%= render 'devise/shared/links' %>
    </div>
    <div class="submit-cell">
      <%= f.submit 'Sign up', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>