<div style="margin-top:5px;"></div>
<div class="col-md-8 menu-cell">
  <%= render partial: '/layout_items/main_menu_buttons' %>
</div>
<div class="col-md-2 auth-cell">
  <% if current_user.present? %>
      <%= link_to current_user.email, '#' %>
  <% else %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'auth-link' %>
  <% end %>
</div>

<div class="col-md-2 auth-cell-last">
  <% if current_user.present? %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %><br>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path, class: 'auth-link' %>
  <% end %>
</div>
