<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-container">
    <div class="form-cell form-header p-bottom">
      <div class="form-cell p-bottom">
        <h2><h2>Log in</h2></h2>
      </div>
    </div>

    <div class="form-row">
      <div class="form-cell p-top">
        <%= f.label :email %>
      </div>
      <div class="form-cell">
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-cell">
        <%= f.label :password %>
      </div>
      <div class="form-cell">
        <%= f.password_field :password, autocomplete: 'off' %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-row">
        <div class="form-cell p-top">
          <%= f.label :remember_me %>
        </div>
        <div class="form-cell p-top">
          <%= f.check_box :remember_me %>
        </div>
      </div>
    <% end %>

    <div class="form-submit">
      <div class="p-top"></div>
      <div class="submit-cell p-top">
        <%= f.submit 'Log in', class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="form-submit">
      <div class="submit-cell p-top">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
<% end %>
