<!DOCTYPE html>
<html>
<head>
  <title>FChange</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-menu-container">
    <%= render partial: '/layout_items/main_menu' %>
  </div>
  <div id="auth_message" style="display: flex; padding: 5px;">
    <% if notice.present? %><p class="notice"><%= notice %></p><% end %>
    <% if alert.present? %><p class="alert"><%= alert %></p><% end %>
  </div>
  <div>
    <% if devise_controller? %>
      <%= render partial: '/layout_items/registrations_form' %>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</body>
</html>
